.searchList {
  @apply fixed left-0 top-[60px] h-[calc(100%_-_60px)] w-full;
  @apply overflow-y-auto bg-primary;
  @apply md:absolute md:top-[45px] md:h-auto md:max-h-[370px];
  @apply md:rounded-b-lg md:border-[1px] md:border-t-0 md:border-secondary;
}

.searchList::-webkit-scrollbar {
  @apply w-2 md:rounded-br-lg;
}

.searchList::-webkit-scrollbar-track {
  @apply bg-primary md:rounded-br-lg;
}

.searchList::-webkit-scrollbar-thumb {
  @apply bg-secondary md:rounded-b-full;
}

.appItem {
  @apply flex items-center space-x-5 p-5 duration-300 hover:bg-background;
}

.appLogo {
  @apply min-h-[100px] min-w-[100px];
}

.appInfo {
  @apply flex flex-grow flex-col space-y-5 overflow-hidden;
}

.appNameText {
  @apply truncate text-xl font-bold text-white;
}

.appPresentationText {
  @apply text-base text-white;
}

.appPresentationText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.divider {
  @apply mx-5 border-secondary;
}
