html,
body {
  padding: 0;
  margin: 0;
  @apply font-roboto;
}

body {
  @apply bg-background;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
